<div class="bg-white dark:bg-gray-800 dark:text-gray-100 h-screen px-10">
  <div class="flex flex-col">
    <h1 class="text-3xl">
      <span class="font-bold">{{this.today.date}} {{this.today.month}}</span> <span class="font-light">{{this.today.year}}</span>
    </h1>
    <h3 class="text-xl font-light">{{this.today.day}}</h3>
  </div>

  <div {{did-insert this.renderCalendar}}
    id="calendar"
    class="mt-4 w-80"
  >
  </div>

  <Sidebar
    @title="Create block"
    @isOpen={{this.showAddEventDialog}}
    @onClose={{set this 'showAddEventDialog' false}}
  >
    <div class='mt-5 flex flex-col gap-1'>
      <label for="event-name">Name your block</label>
      <Input
        id="event-name"
        class="py-1 rounded-sm bg-white dark:bg-gray-800 dark:text-gray-50 border dark:border-gray-700 "
        @type="text"
        @value={{this.newEventTitle}}
      />
    </div>

    <div class="mt-5">
      <button
        class="inline-flex justify-center px-4 py-2 text-sm font-medium text-blue-900 bg-blue-100 border border-transparent rounded-md hover:bg-blue-200 focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-blue-500"
        type="button"
        {{on 'click' this.createEvent}}
      >
        Create
      </button>
    </div>
  </Sidebar>
</div>