<Dialog
  class="fixed inset-0 z-10 overflow-y-auto"
  @as='div'
  @isOpen={{@isOpen}}
  @onClose={{@onClose}}
  as |dialog|
>
  {{#if @overlay}}
    <dialog.Overlay class='fixed inset-0 bg-gray-500 dark:bg-gray-900 bg-opacity-75 transition-opacity' />
  {{/if}}

  <div class='fixed shadow-2xl bg-white dark:bg-gray-800 dark:text-gray-100 border-l dark:border-gray-700 inset-y-0 right-0 w-4/12 px-10 pt-4'>
    <dialog.Title class='text-lg font-medium text-gray-900 dark:text-gray-100 leading-6' @as='h3'>
      {{@title}}
    </dialog.Title>
    <dialog.Description class="text-sm text-gray-500 dark:text-gray-100">
      {{@description}}
    </dialog.Description>

    {{yield}}
  </div>
</Dialog>